EMAIL_ADDRESS="your_email@gmail.com" # Any other email provider can be used gmail is not compulsorily the one to be used
EMAIL_PASSWORD="your_app_password"
GROQ_API_KEY="gsk_..."
TELEGRAM_BOT_TOKEN="your_bot_token"
TELEGRAM_CHAT_ID="your_chat_id"
IMAP_HOST="imap.gmail.com" # can be differnet based on your email provider
LOG_LEVEL="INFO"
